@font-face {
  font-family: QuanetsMainFont; /* Provide a name for your font */
  src: url('assets/square-font/square.ttf'); /* Specify the path to your TTF font */
}

.fontPreload {
  font-family: QuanetsMainFont;
  position: absolute;
}
